<div class="container d-flex p-3 justify-content-evenly">
  <div class="card p-3" style="width: 36rem;">
    <h1 class="text-center">NEW GAME</h1>
    <ul class="inline m-0 p-0 text-center">
      <% @letters.each do |letter| %>
        <li class="list-inline-item m-0 p-1"><strong><%= letter %></strong></li>
      <% end %>
    </ul>
    <div>
      <p class="text-center">You have to enter the longest english word you can find using only letters above</p>
    </div>
  </div>
</div>
<div class="m-3 text-center">
  <form action="/score" method="get" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :generated_letters, @letters %>
    <%= hidden_field_tag :start_time, Time.now %>
    <input type="text" name="word" placeholder="sabbath">
    <input type="submit">
  </form>
</div>
